header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 16px 40px;
  width: 100vw;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

header .logo .icon {
  color: var(--secondary);
}

header nav {
  display: flex;
  gap: 24px;
}

header nav .link {
  transition: all 0.5s;
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
}

header nav .link:hover {
  transition: all 0.5s;
  color: var(--secondary);
}

.actions {
  display: flex;
  gap: 8px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user p {
  transition: all 0.5s;
  color: var(--white);
  font-size: 12px;
}

.user p:hover {
  transition: all 0.5s;
  color: var(--secondary);
}
