footer {
  width: 100vw;
  padding: 16px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  background-color: var(--primary);
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
}

footer .logo .icon {
  color: var(--secondary);
}

footer .social {
  display: flex;
  gap: 8px;
}

footer .social a {
  font-size: 24px;
  color: var(--white);
  transition: all 0.25s;
}

footer .social a:hover {
  color: var(--secondary);
  transition: all 0.25s;
}

footer .dev {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: var(--white);
  font-size: 10px;
}

footer .dev a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.25s;
}

footer .dev a:hover {
  color: var(--secondary);
  transition: all 0.25s;
}

footer .dev .heart {
    color: #ef4444;
}
